@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

body {
  background: url('') no-repeat center center fixed;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}


body{
	
    font-family: 'Open Sans', sans-serif;
}
