<!DOCTYPE html>
<html>
<head>
	<style type="text/css">
		body{
			font-size: 18px;
			color: white;
		}

		.button {
		  background-color: #009ACD;
		  box-shadow: 0 5px 0 #000;
		  border-radius: 10px;
		  color: white;
		  padding: .7em 1em;
		  position: relative;
		  text-decoration: none;
		  text-transform: uppercase;
		}

		footer{
			margin-top: 30px;
			color: grey;
		}

		a:hover {
		  background-color: #39B7CD;
		  cursor: pointer;
		}
		b{
			color: #39B7CD;
		}
		.note{
			font-size: 14px;

		}
		i{
			color: #8d021f;
		}
	</style>
</head>
<body>
	<h2>Dear <b>{{ username }}</b>!</h2><hr>

	<p>Hi, I am the <a href="https://zest2019.in/admin" style="color: #BE0808;">admin</a> of <a href="https://zest2019.in">zest2019</a>.<br> Just wanted to tell you, that your account is almost set up.<br> Now all you need to do for finishing this registeration process is to <b class="text-info">Confirm your email</b> by clicking the button below - </p>
	<p>After this you can simply create your <a href="https://zest2019.in">zest2019</a> Profile</p>
	<br>
	<a class="button" style="color: #ffffff" href="{{ url_for('users.confirmation', token=token, _external=True) }}">Confirm my email</a>

	<footer>
		<p>For any technical diffculty - feel free to email 📧 me - <b>admin@zest2019.in</b></p>
		<p>or you can call/telegram/whatsapp too - <b>+91-7417224655</b></p>
	</footer>
	<hr>
	<p class="note"><b>Note</b>: If you get any <i>link expired</i> message means you checked this email 📧 after 30 min of creating account.<br> You need to create account again.</p>
	<p class="note"><b>Note 2</b>: If you didn't created account on <a href="https://zest2019.in">zest2019</a> simply ignore this email.</p>
</body>
</html>