{% extends 'layout.html' %}
{% block content %}
<div class="text-center mt-4 animated bounceInDown">
	<h2>Settings</h2>
	<hr>
</div>
<div class="row p-3">
	<div class="col-md-12">
		<center>
		<div class="mb-3">
			<h4 class="text-dark">{{ user.email }}</h4>
			<small>Reset password</small>
		</div>
		<form method="POST" action="" class="animated bounceInRight" style="max-width: 300px;">
			{{ form.hidden_tag() }}
			<fieldset class="form-group">
				<div class="form-group">
				{{ form.current_password.label(class="form-control-label") }}
				{{ form.current_password(class="form-control form-control-md cp-input") }}
					<div class="invalid-feedback d-block">
					{% if form.current_password.errors %}
						{% for error in form.current_password.errors %}
							{{ error }}
						{% endfor %}
					{% endif %}
					</div>
				</div>
				<div class="form-group">
				{{ form.new_password.label(class="form-control-label") }}
				{{ form.new_password(class="form-control form-control-md cp-input") }}
					<div class="invalid-feedback d-block">
					{% if form.new_password.errors %}
						{% for error in form.new_password.errors %}
							{{ error }}
						{% endfor %}
					{% endif %}
					</div>
				</div>
				<div class="form-group">
				{{ form.confirm_new_password.label(class="form-control-label") }}
				{{ form.confirm_new_password(class="form-control form-control-md cp-input") }}
					<div class="invalid-feedback d-block">
					{% if form.confirm_new_password.errors %}
						{% for error in form.confirm_new_password.errors %}
							{{ error }}
						{% endfor %}
					{% endif %}
					</div>
				</div>
			</fieldset>
			<div class="form-group px-2">
				{{ form.submit(class="btn btn-primary btn-block mx-auto") }}
			</div>
		</form>	
		</center>
	</div>
</div>

{% endblock%}