{% extends 'layout.html' %}
{% block content %}
<script type="text/javascript">

$(document).ready(function(){
	$image_crop = $('#cropper').croppie({
	    enableExif: true,
	    viewport: {
	      width:300,
	      height:300,
	      type:'circle' 
	    },
	    boundary:{
	      width:300,
	      height:300
	    }
	});

	$('#uploadimage').on('change', function(){
		var reader = new FileReader();
		reader.onload = function (event) {
		$image_crop.croppie('bind', {
	    	url: event.target.result
	    }).then(function(){
	    	console.log('jQuery bind complete');
	    });
	}
		reader.readAsDataURL(this.files[0]);
		$('#cropimage').modal('show');
	});

	$('#uploadbtn').click(function(event){
		$image_crop.croppie('result', {
		type: 'canvas',
		size: 'viewport'
		}).then(function(response){
			$.ajax({
				url:"/upload_profile",
				type: "GET",
				data:{"image": response},
				success:function(data){
					$('#cropimage').modal('hide');
					$('#feedback').html("Profile picture updated"); 
				}
			});
		})
	});
});  
</script>
<div class="text-center mt-4 animated bounceInDown">
	<h2>{{ title }}</h2>
	<hr>
</div>
<div class="row justify-content-around">
	<div class="col-md-8">
		<form action="" method="POST" enctype="multipart/form-data">
			{{ form.hidden_tag() }}
			<fieldset class="form-group">
				<div class="form-group form-row">
					<div class="col-md-6">
						{{ form.first_name.label(class='form-control-label') }}
						{{ form.first_name(class='form-control') }}
						<div class="invalid-feedback d-block">
						{% if form.first_name.errors %}
							{% for error in form.first_name.errors %}
								{{ error }}
							{% endfor %}
						{% endif %}
						</div>
					</div>
					<div class="col-md-6">
						{{ form.last_name.label(class='form-control-label') }}
						{{ form.last_name(class='form-control') }}
						<div class="invalid-feedback d-block">
						{% if form.last_name.errors %}
							{% for error in form.last_name.errors %}
								{{ error }}
							{% endfor %}
						{% endif %}
						</div>
					</div>
				</div>
				<div class="form-group form-row">
					<div class="col">
						{{ form.course.label(class='form-control-label') }}
						{{ form.course(class='form-control') }}
						<div class="invalid-feedback d-block">
						{% if form.course.errors %}
							{% for error in form.course.errors %}
								{{ error }}
							{% endfor %}
						{% endif %}
						</div>
					</div>
					<div class="col">
						{{ form.branch.label(class='form-control-label') }}
						{{ form.branch(class='form-control') }}
						<div class="invalid-feedback d-block">
						{% if form.branch.errors %}
							{% for error in form.branch.errors %}
								{{ error }}
							{% endfor %}
						{% endif %}
						</div>
					</div>
				</div>
				<div class="form-row">
					<div class="col-md-6 form-group">
						{{ form.roll_num.label(class='form-control-label') }}
						{{ form.roll_num(class='form-control') }}
						<div class="invalid-feedback d-block">
						{% if form.roll_num.errors %}
							{% for error in form.roll_num.errors %}
								{{ error }}
							{% endfor %}
						{% endif %}
						</div>
					</div>
					<div class="col-md-6 form-group">
						{{ form.phone.label(class='form-control-label') }}
						{{ form.phone(class='form-control') }}
						<div class="invalid-feedback d-block">
						{% if form.phone.errors %}
							{% for error in form.phone.errors %}
								{{ error }}
							{% endfor %}
						{% endif %}
						</div>
					</div>
				</div>
				<div class="form-group">
					{{ form.college.label(class='form-control-label') }}
					{{ form.college(class='form-control') }}
					<div class="invalid-feedback d-block">
						{% if form.college.errors %}
							{% for error in form.college.errors %}
								{{ error }}
							{% endfor %}
						{% endif %}
					</div>
				</div>
				<div class="form-row">
					<div class="col form-group">
						{{ form.image.label(class='form-control-label') }}
						{{ form.image(class='form-control-file', id='uploadimage') }}
						<span class="text-success" id='feedback'></span>
						<div class="invalid-feedback d-block">
						{% if form.image.errors %}
							{% for error in form.image.errors %}
								{{ error }}
							{% endfor %}
						{% endif %}
						</div>
					</div>
					<div class="col form-group form-check">
						{{ form.gender.label(class='form-control-label') }}
						{{ form.gender(class='form-control') }}	
						<div class="invalid-feedback d-block">
						{% if form.gender.errors %}
							{% for error in form.gender.errors %}
								{{ error }}
							{% endfor %}
						{% endif %}
						</div>
					</div>
				</div>
			</fieldset>
			<div class="form-group">
				{{ form.submit(class='btn btn-outline-info crop_image') }}
			</div>
		</form>
	</div>
</div>
<div class="modal" id="cropimage" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLongTitle">Crop image</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form action="" method="GET">
					<div class="row">
						<div class="col-md-8 text-center">
							<div id="cropper" style="width:350px; margin-top:30px"></div>
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
			    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary" id="uploadbtn">Upload image</button>
			</div>
		</div>
	</div>
</div>
{% endblock %}