{% extends 'layout.html' %}
{% block content %}
<div class="col-12">

  <div class="text-center mt-4 animated bounceInDown">
    <h2>Events</h2>
    <hr>
  </div>
  <div class="row justify-content-center m-3 p-3">
    <form action="" method="GET">
      <div class="input-group m-3">
        <div class="input-group-prepend">
          <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Filter by</button>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="/events/?subcat=sports">Sports</a>
            <a class="dropdown-item" href="/events/?subcat=atheletics">Atheletics</a>
            <a class="dropdown-item" href="/events/?subcat=music">Music</a>
            <a class="dropdown-item" href="/events/?subcat=dance">Dance</a>
            <a class="dropdown-item" href="/events/?subcat=informals">Informals</a>
            <a class="dropdown-item" href="/events/?subcat=literary">Literary</a>
            <a class="dropdown-item" href="/events/?subcat=deco">Deco</a>
            <a class="dropdown-item" href="/events/?subcat=drama">Drama</a>
          </div>
        </div> 
        <input type="text" name="q" placeholder="Search your event..." class="form-control" aria-label="Serach Event">
        <div class="input-group-append">
          <button type="submit" class="btn btn-outline-info" type="button"><i class="fa fa-search"></i></button>
        </div>
      </div>  
    </form>
  </div>
	<table class="table text-center mt-4 border table-striped">
		<thead class="thead-dark table-striped">
    		<th>Title</th>
        <th>Gender</th>
    		<th>Category</th>
        <th>SubCategory</th>
        <th>Action</th>
        <th>Delete</th>
  	</thead>
  	{% for event in events.items %}	
	  		<tr>
	    		<td><a href="{{url_for('event.event_page', eid=event.id)}}">{{event.title}}</a></td>
          {% if event.gender == 'M' %}
            <td>Boys</td>
          {% elif event.gender == 'F' %}
            <td>Girls</td>
          {% else %}
            <td>Both</td>
          {% endif %}
	    		<td>{{ event.getCategory() }}</td>
          <td>{{ event.subcategory }}</td>
          <td>
            <a href="{{url_for('admin.update_event', eid=event.id)}}" class='btn btn-outline-info'>Update</a>
          </td>
          <td>
            <a href="{{ url_for('admin.delete_event', eid=event.id) }}" class='btn btn-outline-danger ml-3 rounded-circle'>✘</a>
          </td>
	  		</tr>  
    {% endfor %}
  	</table>
    <nav>
    <ul class="pagination justify-content-center">
    {% for page_num in events.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}

      {% if page_num %}
        {% if events.page == page_num %}
          <li class="page-item active"><a class="page-link" href="{{ url_for('admin.AdminEvents', page=page_num) }}">{{ page_num }}</a></li>
        {% else %}
          {% if page_num == 1 %}
            <li class="page-item"><a class="page-link" href="{{ url_for('admin.AdminEvents', page=page_num) }}">First</a></li>
          {% elif page_num == last_page %}
            <li class="page-item"><a class="page-link" href="{{ url_for('admin.AdminEvents', page=page_num) }}">Last</a></li>
          {% else %} 
            <li class="page-item"><a class="page-link" href="{{ url_for('admin.AdminEvents', page=page_num) }}">{{page_num}}</a></li>
          {% endif %}
        {% endif %}
      {% endif %}

    {% endfor %}
    </ul>
  </nav>
</div>
{% endblock %}