{% extends 'layout.html' %}
{% block content %}
<div class="col-12">

  <div class="text-center mt-4 animated bounceInDown">
    <h2>Users</h2>
    <hr>
  </div>

	<table class="table text-center mt-4 border table-striped">
		<thead class="thead-dark table-striped">
    		<th>ID</th>
    		<th>Username</th>
    		<th>E-Mail</th>
    		<th>Action<th>
  	</thead>
  	{% for user in users %}	
	  		<tr>
	  			<td>{{user.id}}</td>
	    		<td><a href="{{url_for('profile.profile_card', username=user.username)}}">{{user.username}}</a></td>
	    		<td>{{user.email}}</td>
          {% if user.verified %}
	    		<td><a href="{{url_for('admin.toggleVerfiy', username=user.username)}}">Unverify</a></td>
          {% else %}
              	<td><a href="{{url_for('admin.toggleVerfiy', username=user.username)}}">Verify</a></td>
          {% endif %}
	  		</tr>  
    {% endfor %}
  	</table>
</div>
{% endblock %}