{% extends 'layout.html' %}
{% block content %}
<div class="col-12">

  <div class="text-center mt-4 animated bounceInDown">
    <h2>Events</h2>
    <hr>
  </div>

	<table class="table text-center mt-4 border table-striped">
		<thead class="thead-dark table-striped">
    		<th>Title</th>
    		<th>Category</th>
        <th>Action</th>
  	</thead>
  	{% for event in events %}	
	  		<tr>
	    		<td><a href="{{url_for('event.event_page', eid=event.id)}}">{{event.title}}</a></td>
	    		<td>{{ event.getCategory() }}</td>
          <td>
            <a href="#" class='btn btn-outline-info'>Update</a>
            <a href="#" class='btn btn-danger ml-3 '>Delete</a>
            </td>
	  		</tr>  
    {% endfor %}
  	</table>
</div>
{% endblock %}