{% extends 'layout.html' %}
{% block content %}
<div class="text-center mt-4 animated bounceInDown" id="heading">
	<h2>{{ title }}</h2>
	<hr>
</div>
<div class="row justify-content-center animated zoomIn mb-4">
	<ul class="nav nav-tabs card-header-tabs" id="eventnavbar">
	  <li class="nav-item">
        <a class="nav-link {{active[0]}}" href="/events">All Events</a>
      </li>
      <li class="nav-item">
        <a class="nav-link {{ active[1] }}" href="/events/?cat=zestopen">Open Events</a>
      </li>
      <li class="nav-item">
        <a class="nav-link {{ active[2] }}" href="/events/?cat=zestclose">Zest Events</a>
      </li>
      <li class="nav-item">
        <a class="nav-link {{ active[3] }}" href="/events/?cat=aamod">Aamod Events</a>
      </li>
    </ul>
</div>
<div class="row justify-content-center">
	<form action="" id="eventsearch" class="col-lg-4 col-md-8 col-sm-8" style="max-width: 70%" method="GET">
		<div class="input-group m-3">
		  <div class="input-group-prepend">
		    <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Filter by</button>
		    <div class="dropdown-menu">
		      <a class="dropdown-item" href="/events/?subcat=sports">Sports</a>
		      <a class="dropdown-item" href="/events/?subcat=atheletics">Atheletics</a>
		      <a class="dropdown-item" href="/events/?subcat=music">Music</a>
		      <a class="dropdown-item" href="/events/?subcat=dance">Dance</a>
		      <a class="dropdown-item" href="/events/?subcat=informals">Informals</a>
		      <a class="dropdown-item" href="/events/?subcat=literary">Literary</a>
		      <a class="dropdown-item" href="/events/?subcat=deco">Deco</a>
		      <a class="dropdown-item" href="/events/?subcat=drama">Drama</a>
		    </div>
		  </div>
		  <input type="text" name="q" placeholder="Search your event..." class="form-control" aria-label="Serach Event">
		  <div class="input-group-append">
		    <button type="submit" class="btn btn-outline-info" type="button"><i class="fa fa-search"></i></button>
		  </div>
		</div>
	</form>
</div>
{% for event in events.items %}
	<div class="row p-4 justify-content-center animated zoomIn" id="events">
		<section class="col-md-12" style="max-width: 850px;">
			<h5>
				<a href="{{ url_for('event.event_page', eid=event.id) }}" id="eventtitle">{{ event.title }}</a>
				{% if event.gender == 'M' %}
					<small class="text-muted">for boys only</small>
				{% elif event.gender == 'F' %}
					<small class="text-muted">for girls only</small>
				{% else %}
					<small class="text-muted">for boys & girls both</small>
				{% endif %}
				<small>(<a href='/events/?subcat={{event.subcategory}}' class="text-info">#{{ event.subcategory }}</a>)</small>
			</h5>
			<div class="card text-white event-card">
				<a href="{{ url_for('event.event_page', eid=event.id) }}"><img class="card-img" style="filter: brightness(50%);" src="{{ url_for('static', filename='event_pics/'+ event.image) }}" width="850px" alt="Card image">
				<div class="card-img-overlay" style="max-width: 550px;">
					<p class="card-text event-detail">{{ event.about }}</p>

					<p class="event-info">
						{{ event.getCategory() }} Event <br>
						{% if event.eventType() == 'Team' %}
							{% if event.min_limit != None %}
								<small class="text-warning">Min {{ event.min_limit }} and Max {{ event.team_limit }} members team is required.</small><br>
							{% else %}
								<small class="text-info">{{ event.team_limit }} members team is required.</small><br>
							{% endif %}
						{% else %}
							<small class="text-success">You don't need a team.</small><br>
						{% endif %}
						<span class="text-light">Time: 3:40pm to 4:30pm</span><br>
						<small>{{ event.getParticipants()|length }} participations</small><br>
						{% if current_user.verified %}
							<small><a class="text-warning" href="{{ url_for('event.participant_list', eid=event.id) }}">View Contestants list</a> |
								<a class="text-warning" href="{{ url_for('event.generate_excel', eid=event.id) }}">Download List</a>
							</small>
						{% endif %}
					</p>
				</div>
			</a>
			</div>
		</section>
	</div>
{% endfor %}
    <nav class="">
    <ul class="pagination justify-content-center">
    {% for page_num in events.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}

      {% if page_num %}
        {% if events.page == page_num %}
          <li class="page-item  active"><a class="page-link" href="{{ url_for('event.all_events', page=page_num) }}">{{ page_num }}</a></li>
        {% else %}
          {% if page_num == 1 %}
            <li class="page-item"><a class="page-link" href="{{ url_for('event.all_events', page=page_num) }}">First</a></li>
          {% elif page_num == last_page %}
            <li class="page-item"><a class="page-link" href="{{ url_for('event.all_events', page=page_num) }}">Last</a></li>
          {% else %}
            <li class="page-item"><a class="page-link" href="{{ url_for('event.all_events', page=page_num) }}">{{page_num}}</a></li>
          {% endif %}
        {% endif %}
      {% endif %}
    {% endfor %}
    </ul>
  </nav>
{% endblock %}
