{% extends 'layout.html' %}
{% block content %}
<div class="text-center mt-4 animated bounceInDown" id="heading">
	<h2>{{ title }}</h2>
	<hr>
</div>
<div class="row justify-content-center animated zoomIn mb-4">
<ul class="nav nav-tabs  card-header-tabs" id="eventnavbar">
	  <li class="nav-item">
        <a class="nav-link {{active[0]}}" href="/events">All Events</a>
      </li>
      <li class="nav-item">
        <a class="nav-link {{ active[1] }}" href="/events/?cat=zestopen">Zest (Open)</a>
      </li>
      <li class="nav-item">
        <a class="nav-link {{ active[2] }}" href="/events/?cat=zestclose">Zest (Close)</a>
      </li>
      <li class="nav-item">
        <a class="nav-link {{ active[3] }}" href="/events/?cat=aamod">Aamod</a>
      </li>
    </ul>
</div>
{% for event in events %}
	<h1>This is the string</h1>
	<h2>This is the string</h2>
	<h3>This is the string</h3>
	<h4>This is the string</h4>
	<h5>This is the string</h5>
	<h6>This is the string</h6>
	<div class="row p-4 justify-content-center animated zoomIn" id="events">
		<div class="col-md-12" style="max-width: 850px;">
			<h5 class="">
				<a href="{{ url_for('event.event_page', eid=event.id) }}">{{ event.title }}</a>
				<small>(<a href='/events/?subcat={{event.subcategory}}' class="text-info">#{{ event.subcategory }}</a>)</small>
			</h5>
			{% if event.gender == 'M' %}
				<p class="text-muted">boys only</p>
			{% elif event.gender == 'F' %}
				<p class="text-muted">girls only</p>
			{% else %}
				<p class="text-muted">boys & girls both</p>
			{% endif %}
			<div class="card text-white event-card">
				<img class="card-img" style="filter: brightness(50%);" src="{{ url_for('static', filename='event_pics/'+ event.image) }}" width="850px"	 alt="Card image">
				<div class="card-img-overlay" style="max-width: 550px;">
					<p class="card-text event-detail">{{ event.about }}</p>
					
					<p class="event-info">
						{{ event.getCategory() }} Event <br>
						{% if event.eventType() == 'Team' %}
							<small class="text-info">{{ event.team_limit }} member team is required.</small><br>
						{% else %}
							<small class="text-success">You don't need a team.</small><br>
						{% endif %}
						<span>Time: 3:40pm to 4:30pm</span><br>
						<small>{{ event.getParticipants()|length }} participations</small>
					</p>
				</div>
			</div>
		</div>
	</div>
{% endfor %}
{% endblock %}

{% block sidebar %}
	<div class="row p-4 justify-content-center animated zoomIn" id="events">

		<div class="card mt-5" style="width: 18rem;">
		  <div class="card-header">
		    Featured
		  </div>
		  <ul class="list-group list-group-flush">
		    <li class="list-group-item">Cras justo odio</li>
		    <li class="list-group-item">Dapibus ac facilisis in</li>
		    <li class="list-group-item">Vestibulum at eros</li>
		  </ul>
		</div>
	</div>
{% endblock %}