{% extends 'layout.html' %}
{% block content %}
<div class="text-center">
	<h1>All SRMS Events</h1>
	<hr>
</div>
{% for event in events %}
	<div class="row p-4">
		<div class="col">
			<h3 class=""><b>{{ event.title }}</b></h3>
			<div class="card bg-dark text-white">
				<img class="card-img" style="filter: brightness(50%);" src="{{ url_for('static', filename='event_pics/'+ event.image) }}" width="850px" height="315px" alt="Card image">
				<div class="card-img-overlay">
					<p class="card-text" style="line-height: 2em; max-width: 600px;">{{ event.detail_txt }}</p>
			    	<p class="card-text"></p>
				</div>
				{% if current_user.is_authenticated %}
					<div class="card-footer" style="background-color: white;">
						<button class="btn btn-outline-info float-right">Take Participation</button>	
					</div>
				{% endif %}
			</div>
		</div>
	</div>
{% endfor %}
{% endblock %}