{% extends 'layout.html' %}
{% block content %}
<style type="text/css">
.table {
  counter-reset: serial-number;  /* Set the serial number counter to 0 */
}

.table td:first-child:before {
  counter-increment: serial-number;  /* Increment the serial number counter */
  content: counter(serial-number);  /* Display the counter */
}

</style>
<div class="col-md-7">
	<table class="table table-striped text-center">
	  <thead class="thead-dark">
	    <tr>
	      <th scope="col">#</th>
	      <th scope="col">Name</th>
	      <th scope="col">Type</th>
	      <th scope="col">Organizer</th>
	    </tr>
	  </thead>
	  <tbody>
	    {% for event in events %}
	    <tr>
	      <td scope="row"></td>
	      <td>{{ event.title }}</td>
	      <td>{{ event.eventType() }} ({{ event.team_limit }})</td>
	      <td><a href="/{{ event.getOrganizer().username }}">{{ event.getOrganizer().username }}</td>
	    </tr>
	    {% endfor %}
	    
	  </tbody>
	</table>
</div>
{% endblock %}