{% extends 'layout.html' %}
{% block content %}
<div class="text-center mt-4 animated bounceInDown" id="heading">
	<h2>{{ event.title }}</h2>
	{% if current_user.id == event.user_id %}
		<a href="#" class="text-muted">update event info</a>
	{% endif %}
	<hr>
</div>
<div class="d-flex justify-content-center">
	<div class="card" style="max-width: 800px;" id="eventpage">
		<img class="card-img-top" src="{{ url_for('static', filename='event_pics/'+event.image) }}" alt="Card image cap">
		<div class="card-body">
			<div>
	    		<p class="card-text">{{ event.about }}</p>
		    </div>
	    	<hr>
	    	<div class="row">
		    	<div class="col-md-6">
					<h5 class="">{{ event.eventType() }} Event</h5>
					{% if event.eventType() == 'Team' %}
						<small class="text-info">{{ event.team_limit }} member team is required.</small><br>
					{% else %}
						<small class="text-success">You don't need a team.</small><br>
					{% endif %}
					<span>Time: {{ event.time }}</span>
				</div>
				<div class="col-md-6">
					<div class="row organizer">
						<img class="rounded-circle" src="{{ url_for('static', filename='profile_pics/'+user.image) }}">
						<div class="ml-2">
							<span><a href="{{ url_for('profile.profile_card', username=user.account.username) }}">{{ user.name }}</a></span><br>
							<small>{{ user.phone }}</small><br>
							<small class="text-muted">Organizer</small>
						</div>
					</div>
				</div>
			</div>
			<hr>
			<div class="row">
				<div class="col-md-12">
					<h5>Event Rules</h5>
					<p class="m-2">Please read your event category general rules (if exist) too on <a href="#">Zest&Aamod Rulebook</a></p>
						{% if event.category != 'aamod' %}
							<ul>
							{% for rule in rules%}
								<li class="p-2">{{ rule.rule }}</li>
							{% endfor %}
							</ul>
						{% elif event.subcategory == 'atheletics' %}
							<ul>
								<li>Events of Atheletics are individually counted as 1 event in Aamod.</li>
								<li>Participants can take part in maximum 2 event of atheletics</li>
								<li>Relay (4*100m , 4*400m) is open event for participant.</li>
							</ul>
						{% else %}
							<ul>
								<li>Games will be played prescribed by the internation federations.</li>
							</ul>
						{% endif %}
				</div>
			</div>
			{% if current_user.is_authenticated %}
				<hr>
				<div class="d-flex justify-content-around">
					{% if event.status %}
						{% if event.eventType() == 'Solo' %}
							<a href="{{ url_for('contestant.participate', eid=event.id) }}" class="btn btn-success">Take Participation</a>
						{% else %}
							<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#createteam">
								Create team
							</button>
							<button type="button" class="btn btn-outline-info" data-toggle="modal" data-target="#jointeam">
								Join team
							</button>
						{% endif %}
					{% else %}
						<p class="text-danger">Registeration for this event is <b>closed right now</b></p>
					{% endif %}
				</div>
			{% else %}
			<hr>
			<div class="d-flex justify-content-around">
				<p class="text-muted">You need to <a href="{{ url_for('users.register') }}">Create Account</a> for registering into any event.</p>
			</div>
			{% endif %}
		</div>
	</div>
</div>
<div class="modal animated bounceInDown" id="createteam" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLongTitle">Create Team</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<form action="{{ url_for('team.createTeam') }}" method="POST">
				<div class="modal-body">
					<div class="form-group p-3">
						<input class="form-control" type="text" placeholder="Enter team name" name="team_name">
						<input type="hidden" name="event_id" value="{{ event.id }}">
						<small class="mt-4">This name should be unique and you are allowed to only add {{ event.team_limit }} members in team.</small>
					</div>
				</div>
				<div class="modal-footer">
				    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
					<input type="submit" class="btn btn-primary" value="Create team">
				</div>
			</form>
		</div>
	</div>
</div>

<div class="modal animated bounceInDown" id="jointeam" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLongTitle">Join team</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<form action="{{ url_for('team.joinTeam') }}" method="POST">
				<div class="modal-body">
					<div class="form-group p-3">
						<input class="m-auto form-control" type="text" placeholder="Enter secret code" name="team_code">
						<input type="hidden" name="event_id" value="{{event.id}}">
						<small class="mt-4">If you don't know what secret code is, it is unique alphanumeric secret key which allow anyone to join the party. If you want to join your friends team. </small>
					</div>
				</div>
				<div class="modal-footer">
				    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
					<input type="submit" class="btn btn-primary" value="Join team">
				</div>
			</form>
		</div>
	</div>
</div>
{% endblock%}