{% extends 'layout.html' %}
{% block content %}
<style type="text/css">
	.event-info{
		font-weight: bold;
		font-size: 1.1em;
	}
	.event-info:hover{
		font-weight: bold;
		text-decoration: underline;
		font-size: 1.1em;
	}
	.card-footer{
		position:absolute;
		bottom:0;
	}
	.card:hover{

	}
</style>
<div class="text-center mt-4">
	<h1>All SRMS Events</h1>
	<hr>
</div>
{% for event in events %}
	<div class="row p-4">
		<div class="col">
			<h3 class=""><b>{{ event.title }}</b></h3>
			<div class="card bg-dark text-white">
				<img class="card-img" style="filter: brightness(50%);" src="{{ url_for('static', filename='event_pics/'+ event.image) }}" width="850px" height="315px" alt="Card image">
				<div class="card-img-overlay">
					<p class="card-text float-left" style="line-height: 2em; max-width: 600px;">{{ event.detail_txt }}</p>
					<span class="float-right border border-info bg-dark mx-4 p-1"> {{ event.getParticipation()|length }} Peoples/Teams</span>
					<p class="card-footer float-left event-info">
						{{ event.eventType() }} Event <br>
						{% if event.eventType() == 'Team' %}
							<small class="text-info">{{ event.team_limit }} member team is required.</small><br>
						{% else %}
							<small class="text-success">You don't need a team.</small><br>
						{% endif %}
						Day 1 | Time: 3:40pm to 4:30pm
					</p>
				</div>
			</div>
			{% if current_user.is_authenticated %}
				<a href="#" class="btn btn-danger float-right mt-2 action-btn">Take Participation</a>
			{% endif %}
		</div>
	</div>
{% endfor %}
{% endblock %}