{% extends 'layout.html' %}
{% block content %}

<style type="text/css">
	.faq{
		font-family: 'Quicksand';
	}
	.question span{
		font-family: 'Playfair Display', serif;
		font-weight: bold;
		font-size: 28px;
		color: black;
	}
	.answer p{
		font-weight: bold;
		line-height: 2.2em;
		font-family: 'Quicksand';
	}
	h4{
		margin-bottom: 5%;
	}
	.question{
	
	}
	.answer{

	}
</style>
<div class="text-center mt-4 animated bounceInDown">
	<h2>Frequently Ask Questions</h2>
	<hr>
</div>
<div class="row justify-content-center p-3 m-3 faq">
	<div class="col-8 p-3 m-3">
		<div class="question">
			<h4><span>Q.</span> How to register for Solo Events?</h4>
		</div>
		<div class="answer">
		<p>Registering for Solo event is very simple, just after login follow these steps.</p>
			<ol>
				<li>Go to events page.</li>
				<li>Search for event you want to registered.</li>
				<li>Click on the event.</li>
				<li>Go to the bottom of page and Click Take Participation.</li>
				<li>You are done!</li>
			</ol>
		</div>
	</div>
	<div class="col-8 p-3 m-3">
		<div class="question">
			<h4><span>Q.</span> How to register for Team Events?</h4>
		</div>
		<div class="answer">
		<p>Registering for Team event is little tricky, just after login follow these steps.</p>
			<ol>
				<li>Go to events page.</li>
				<li>Search for event you want to registered.</li>
				<li>Click on the event.</li>
				<li>Go to the bottom of page.</li>
				<li>Now you will see two options -</li>
					<ul>
						<li>Create Team<br>
							<ol>
								<li>By clicking on Create Team you have to enter Team name</li>
								<li>After team name you are done, your team has been created and you are registered.</li>
								<li>But don't forget to share team code with your teammates so they can join you by following steps below.</li>
							</ol>
						</li>
						<li>Join Team<br>
							<ol>
							    <li>By clicking on Join team you have to enter Team secret code</li>
							    <li>Team code is a secret key you have to ask your friend, the one who created the team for secret code.</li>
							</ol>
					</ul>
			</ol>
		</div>
	</div>
	<div class="col-8 p-3 m-3">
		<div class="question">
			<h4><span>Q.</span> How to register for Solo Events?</h4>
		</div>
		<div class="answer">
		<p>Registering for Solo event is very simple, just after login follow these steps.</p>
			<ul>
				<li>Go to events page.</li>
				<li>Search for event you want to registered.</li>
				<li>Click on the event.</li>
				<li>Go to the bottom of page and Click Take Participation.</li>
				<li>You are done!</li>
			</ul>
		</div>
	</div>
	<div class="col-8 p-3 m-3">
		<div class="question">
			<h4><span>Q.</span> How to register for Solo Events?</h4>
		</div>
		<div class="answer">
		<p>Registering for Solo event is very simple, just after login follow these steps.</p>
			<ul>
				<li>Go to events page.</li>
				<li>Search for event you want to registered.</li>
				<li>Click on the event.</li>
				<li>Go to the bottom of page and Click Take Participation.</li>
				<li>You are done!</li>
			</ul>
		</div>
	</div>
</div>
{% endblock %}