{% extends 'layout.html' %}
{% block content %}
<div class="row justify-content-center">
	<div class="col-md-12">
		<ul id="sb-slider" class="sb-slider">
			<li>
				<a href="#">
					<img src="{{ url_for('static', filename='images/poster.jpg') }}" class="img-thumbnail">
				</a>
				<div class="sb-description">
					<h3>One Lifesaver</h3>
				</div>
			</li>
			<li>
				<a href="#">
					<img src="https://wallpaperstock.net/coffee-bean-macro_wallpapers_34409_1280x720.jpg" class="img-thumbnail">
				</a>
				<div class="sb-description">
					<h3>Creative Lifesaver</h3>
				</div>
			</li>
			<li>
				<a href="#">
					<img src="https://wallpaperaccess.com/full/1078184.jpg" class="img-thumbnail">
				</a>
				<div class="sb-description">
					<h3>Creative Lifesaver</h3>
				</div>
			</li>
			<li>
				<a href="#">
					<img src="https://wallpaperaccess.com/full/1078215.jpg" class="img-thumbnail">
				</a>
				<div class="sb-description">
					<h3>Creative Lifesaver</h3>
				</div>
			</li>
			<li>
				<a href="#">
					<img src="https://cwsmgmt.corsair.com/newscripts/landing-pages/wallpaper/v4/Wallpaper-v4-1280x720.jpg">
				</a>
				<div class="sb-description">
					<h3>Creative Lifesaver</h3>
				</div>
			</li>	
		</ul>

		<div id="shadow"></div>
		<div id="nav-arrows" class="nav-arrows">
			<a href="#" class="border">Next</a>
			<a href="#" class="border">Previous</a>
		</div>
	</div>
</div>
<div class="row justify-content-center m-3 p-3">
	<div class="col-md-4 windy-demo">
		<ul id='wi-el' class="wi-container">
			<li>
				<img class="img-thumbnail" src="{{url_for('static', filename='images/srmstrust/one.jpg')}}" alt="image1"/>
				<h5>Shri Dev Murti</h5>
			</li>
			<li>
				<img class="img-thumbnail" src="{{url_for('static', filename='images/srmstrust/two.jpg')}}" alt="image1"/>
				<h5>Mr. Aditya Murti</h5>
			</li>
			<li>
				<img class="img-thumbnail" src="{{url_for('static', filename='images/srmstrust/three.jpg')}}" alt="image1"/>
				<h5>Er. Subhash Mehra</h5>
			</li>
			<li>
				<img class="img-thumbnail" src="{{url_for('static', filename='images/srmstrust/four.jpg')}}" alt="image1"/>
				<h5>Prof. (Dr.) Prabhakar Gupta</h5>
			</li>
			<li>
				<img class="img-thumbnail" src="{{ url_for('static', filename='images/srmstrust/five.jpg') }}" alt="image1">
				<h5>Mr. Ashish Kumar</h5>
			</li>
		</ul>
		<nav>
			<span id="nav-prev">prev</span>
			<span id="nav-next">next</span>
		</nav>
	</div>
	<div class="col-md-8" id='chairman'>
		<h3 class="animated bounceInUp">About SRMS Trust</h3><hr>
		<p>The memories of veteran freedom fighter, true Gandhian, ex-parliamentarian & ex minister of UP State, <b>Shri Ram Murti Ji</b>, were the inspiration for setting up the, Shri Ram Murti Smarak Trust in the year 1990.</p>

		<p>The vision and mission of the Trust are to use all its resources for upliftment of mankind, by service to humanity. With the inspiration of Late <b>Shri Ram Murti Ji</b> and with the untiring zeal and enthusiasm of <b>Shri Dev Murti</b>, Shri Ram Murti Smarak College of Engg. & Tech. was established in 1996.The college today offers courses in Engineering, Pharmacy, Management and Computer Applications.</p>

		<p>The SRMS Trust has also furthered a noble cause by establishing Shri Ram Murti Smarak Institute of Medical Sciences, which includes a 700-bed Multi Super Specialty; Tertiary Care hospital and Trauma Centre a Medical and a Nursing College. The campus of medical college and hospital is spread over an area of 30 acres and is located at 13.2 Kms. on the Bareilly-Nainital Highway, Bareilly (U.P).</p>
	</div>
</div>

<div class="row justify-content-center m-3 p-3">
	<div class="col-md-8" id='chairman'>
		<h3>About Tyro</h3><hr>
		<p><i>“TYRO – A BEGINNER, established in 1997,a panel of students comprising the very best amongst the best. The sole aim of Tyro is to bring about diversity of art, culture, academics and sports on a common platform.”</i> It is dedicated to bring joy and jubilation by nurturing budding talent.

		<p>Tyro comes into full swing for the organization of a mega event – 'ZEST' & ‘AAMOD’. This is the platform wherein young and creative minds get to exhibit their talent through various competitions.</p>

		<p>It’s time to extract the series of creativity from the best brains...So, herein, we extend our invitation to all, to be a part of this grand event.</p>
	</div>
	<div class="col-md-4">
		<img class='img-thumbnail float-right' src="{{ url_for('static', filename='images/srmslogo2.png') }}">
	</div>
</div>
<hr>
<div class="row text-center m-4 p-4">
	<div class="col" id='chairman'>
		<h3 class="m-4">Last Year Zest and Aamod highlights</h3>
		<iframe width="760" height="460" src="https://www.youtube.com/embed/DnhKbZlvlkU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	</div>
</div>

{% endblock%}