{% extends 'layout.html' %}
{% block content %}
<div class="row justify-content-center">
	<div class="col-md-12">
		<ul id="sb-slider" class="sb-slider">
			<li>
				<a href="#">
					<img src="{{ url_for('static', filename='images/cubepic/cubepic1.jpg') }}" class="img-thumbnail">
				</a>
				<div class="sb-description">
					<h3>Zest Poster</h3>
				</div>
			</li>
			<li>
				<a href="#">
					<img src="{{ url_for('static', filename='images/cubepic/cubepic2.jpg') }}" class="img-thumbnail">
				</a>
				<div class="sb-description">
					<h3>Creative Lifesaver</h3>
				</div>
			</li>
			<li>
				<a href="#">
					<img src="{{ url_for('static', filename='images/cubepic/cubepic3.jpg') }}" class="img-thumbnail">
				</a>
				<div class="sb-description">
					<h3>Creative Lifesaver</h3>
				</div>
			</li>
			<li>
				<a href="#">
					<img src="{{ url_for('static', filename='images/cubepic/cubepic4.jpg') }}" class="img-thumbnail">
				</a>
				<div class="sb-description">
					<h3>Creative Lifesaver</h3>
				</div>
			</li>
			<li>
				<a href="#">
					<img src="https://cwsmgmt.corsair.com/newscripts/landing-pages/wallpaper/v4/Wallpaper-v4-1280x720.jpg">
				</a>
				<div class="sb-description">
					<h3>Creative Lifesaver</h3>
				</div>
			</li>	
		</ul>

		<div id="shadow"></div>
		<div id="nav-arrows" class="nav-arrows">
			<a href="#" class="border">Next</a>
			<a href="#" class="border">Previous</a>
		</div>
	</div>
</div>
<div class="row justify-content-center m-3 p-3">
 	<div class="col-md-4 windy-demo animated flipInY">
		<ul id='wi-el' class="wi-container">
			<li>
				<img class="img-thumbnail" src="{{url_for('static', filename='images/srmstrust/one.jpg')}}" alt="image1"/>
				<h5>Shri Dev Murti</h5>
			</li>
			<li>
				<img class="img-thumbnail" src="{{url_for('static', filename='images/srmstrust/two.jpg')}}" alt="image1"/>
				<h5>Mr. Aditya Murti</h5>
			</li>
			<li>
				<img class="img-thumbnail" src="{{url_for('static', filename='images/srmstrust/three.jpg')}}" alt="image1"/>
				<h5>Er. Subhash Mehra</h5>
			</li>
			<li>
				<img class="img-thumbnail" src="{{url_for('static', filename='images/srmstrust/four.jpg')}}" alt="image1"/>
				<h5>Prof. (Dr.) Prabhakar Gupta</h5>
			</li>
			<li>
				<img class="img-thumbnail" src="{{ url_for('static', filename='images/srmstrust/five.jpg') }}" alt="image1">
				<h5>Mr. Ashish Kumar</h5>
			</li>
		</ul>
		<nav>
			<span id="nav-prev">prev</span>
			<span id="nav-next">next</span>
		</nav>
	</div>
	<div class="col-md-8" id='chairman'>
		<h3 class="animated bounceInUp">ABOUT SRMS TRUST</h3><hr>
		<p>The memories of veteran freedom fighter, true Gandhian, ex-parliamentarian & ex minister of UP State, <b>Shri Ram Murti Ji</b>, were the inspiration for setting up the, Shri Ram Murti Smarak Trust in the year 1990.</p>

		<p>The vision and mission of the Trust are to use all its resources for upliftment of mankind, by service to humanity. With the inspiration of Late <b>Shri Ram Murti Ji</b> and with the untiring zeal and enthusiasm of <b>Shri Dev Murti</b>, Shri Ram Murti Smarak College of Engg. & Tech. was established in 1996.The college today offers courses in Engineering, Pharmacy, Management and Computer Applications.</p>

		<p>The SRMS Trust has also furthered a noble cause by establishing Shri Ram Murti Smarak Institute of Medical Sciences, which includes a 700-bed Multi Super Specialty; Tertiary Care hospital and Trauma Centre a Medical and a Nursing College. The campus of medical college and hospital is spread over an area of 30 acres and is located at 13.2 Kms. on the Bareilly-Nainital Highway, Bareilly (U.P).</p>
	</div>
</div>
<div class="row justify-content-center m-3 p-3">
	<div class="col-md-6">
		<h3>ABOUT THE EVENT</h3><hr>
		<p>Zest and Aamod is a cultural and sports fest held at SRMS CET , Bareilly every year. The motive of this events is to allow or provide freedom to the students to take part in various cultural and sports activities and showcase their talents . </p>
		<p> In this students of not only this college but also of various other colleges from different places come and take part in various competitions and show their talents every year. </p>
		<b>Our theme of this year:</b>
		<p class="display-3 text-center" id="theme">Antaragni</p>
	</div>
	<div class="col-md-6">
		<ul id="elasticstack" class="elasticstack">
			<li><img src="{{url_for('static', filename='images/gallery/pic1.jpg')}}" height="260px" width="300px" alt="01"/><h5>Saudade</h5></li>
			<li><div class="overlay"></div><img src="{{url_for('static', filename='images/gallery/pic6.jpg')}}" height="260px" alt="02"/><h5>Tuqburni</h5></li>
			<li><img src="{{url_for('static', filename='images/gallery/pic2.jpg')}}" height="260px" width="300px" alt="03"/><h5>Retrouvailles</h5></li>
			<li><img src="{{url_for('static', filename='images/gallery/pic3.jpg')}}"  height="260px" width="300px" alt="04"/><h5>Onsra</h5></li>
			<li><img src="{{url_for('static', filename='images/gallery/pic4.jpg')}}" height="260px" width="300px" alt="05"/><h5>Mamihlapinatapai</h5></li>
			<li><img src="{{url_for('static', filename='images/gallery/pic5.jpg')}}" height="260px" width="300px" alt="06"/><h5>Koi No Yokan</h5></li>
		</ul>
	</div>
</div>
<div class="row justify-content-center m-3 mt-5 p-3">
	<div class="col-md-8">
		<h3>ABOUT TYRO</h3><hr>
		<blockquote class="blockquote"><p><b>TYRO – A Beginner</b>, established in <b>1997</b>,a panel of students comprising the very best amongst the best. The sole aim of Tyro is to bring about diversity of art, culture, academics and sports on a common platform.”</i> It is dedicated to bring joy and jubilation by nurturing budding talent.</p>
		</blockquote>

		<p>Tyro comes into full swing for the organization of a mega event – <b>'ZEST' & ‘AAMOD’</b>. This is the platform wherein young and creative minds get to exhibit their talent through various competitions.</p>

		<p>It’s time to extract the series of creativity from the best brains...So, herein, we extend our invitation to all, to be a part of this grand event.</p>
	</div>
	<div class="col-md-4">
		<img class='img-thumbnail rounded-circle mt-3 float-right animated flipInY' src="{{ url_for('static', filename='images/tyrologo.jpg') }}">
	</div>
</div>

<div class="row justify-content-center m-3 p-3">
	<div class="col-md-12 text-center">
		<h3>INFORMATIONS</h3><hr>
		<div class="row">
			<div class="col-md-4 clickbox m-auto">
				<a href="{{ url_for('event.all_events') }}"><img src="https://image.flaticon.com/icons/png/512/747/747137.png" width="150px" height="150px"><br>
				<i>Browse Events</i></a>
			</div>
			<div class="col-md-4 clickbox m-auto">
				<a href="{{ url_for('users.register') }}"><img src="https://icon-library.net/images/register-icon-png/register-icon-png-8.jpg" width="150px" height="150px">
				<br><i class="">Register</i></a>
			</div>
			<div class="col-md-4 clickbox m-auto">
				<a href="{{ url_for('static', filename='pdf/zest&aamod_rulebook.pdf') }}" target="_blank"><img src="https://cdn2.iconfinder.com/data/icons/mixed-rounded-flat-icon/512/note-512.png" width="150px" height="150px">
				<br><i class="">Rule Book</i></a>
			</div>
		</div>
	</div>
</div>

<div class="row text-center m-4 p-4">
	<div class="col" id='chairman'>
		<h3 class="m-4">Zest 2018 Highlights</h3><hr>
		<iframe width="760" height="460" src="https://www.youtube.com/embed/DnhKbZlvlkU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	</div>
</div>

{% endblock%}