{% extends 'layout.html' %}
{% block content %}
<div class="text-center mt-4 animated bounceInDown">
	<h2>{{ title }}</h2>
	<hr>
</div>
<div class="row justify-content-around">

	{% if participations %}
	   	<table class="table text-center" >
		  <thead class="thead-dark">
		    <tr>
		      <th scope="col">Event</th>
		      <th scope="col">Team</th>
		      <th scope="col">Withdraw</th>
		    </tr>
		  </thead>
		  <tbody>
		  	{% for p in participations %}
			    <tr>
			      <td><a href="{{ url_for('event.event_page', eid=p.event.id) }}">{{ p.event.title }}</td>
			      {% if p.team %}
			      	<td>
			      		<a href="{{ url_for('team.team_card', tid=p.team.id) }}">{{ p.team.name }}</a> (TID: {{ p.team.id }})
			      	</td>
			      {% else %}
			      	<td>-</td>
			      {% endif %}

			      <td>
			      	{% if p.event.status %}
			      		<a href="{{ url_for('contestant.withdraw', eid=p.event.id) }}" onclick="return confirm('After this you will no longer be participant of {{ p.event.title }} event?')" class='btn btn-outline-danger ml-3 rounded-circle'>✘</a>
			      	{% else %}
			      		<button type="button" class="btn btn-outline-danger ml-3 rounded-circle" data-toggle="popover" title="Oops you can't!" data-content="Event registeration is closed right now, don't run away!">✘</button>
			      	{% endif %}
			      </td>
			    </tr>
			{% endfor %}
		   
		  </tbody>
		</table> 
	{% else %}
	<div class="container text-center">
		<img class="img-thumbnail m-2 emptymyevents" src="https://cdn.dribbble.com/users/24885/screenshots/1797793/events-empty-data-set_1x.png"><br>		
		<a class="btn btn-primary m-2" href="{{ url_for('event.all_events') }}">Browse Events</a>
	</div>
	{% endif %}
</div>
{% endblock%}