{% extends 'layout.html' %}
{% block content %}
<div class="text-center mt-4 animated bounceInDown">
	<h2>{{ title }}</h2>
	<hr>
</div>
<div class="row justify-content-around">
	{% if events %}
	<div class="card m-3" style="max-width: 200px">
		<div class="card-body">
	    <h5 class="card-title">Your Registered Events</h5>
	    <h6 class="card-subtitle mb-2 text-muted">my teams</h6><hr>	    
	  </div>
	  <ul class="list-group list-group-flush">
		{% for event in events %}
			<li class="list-group-item">{{ event.title }}</li>
		{% endfor %}

	</ul>

		</div>
	{% else %}
	You are registered in no events
	<!-- Here if no events are registered -->
	{% endif %}
</div>
{% endblock%}