{% extends 'layout.html' %}
{% block content %}
<script>
  function printpage() {
    window.print();
  }
</script>
<style type="text/css">
  body
  {
      counter-reset: Serial;           /* Set the Serial counter to 0 */
  }

  table
  {
      border-collapse: separate;
  }

  tr td:first-child:before
  {
    counter-increment: Serial;      /* Increment the Serial counter */
    content: counter(Serial); /* Display the counter */
  }
</style>
<div class="text-center mt-4 animated bounceInDown">
	<h3 class="">{{ event.title }} 
    {% if event.gender == 'M' %}
      <small class="text-muted">for boys only</small>
    {% elif event.gender == 'F' %}
      <small class="text-muted">for girls only</small>
    {% else %}
      <small class="text-muted">for boys & girls both</small>
    {% endif %}
  </h3>
  <a href="{{ url_for('event.generate_excel', eid=event.id) }}">Download List</a>
	<hr>
</div>
<table class="table text-uppercase">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">PID</th>
      <th scope="col">NAME</th>
      <th scope="col">COURSE</th>
      <th scope="col">ROLL NUMBER</th>
      <th scope="col">COLLEGE</th>
    </tr>
  </thead>
  <tbody>
  	{% for contestant in contestants%}
    <tr>
      <td></td>
      <td scope="row" class="text-danger">{{ contestant.id }}</td>
      <td><a href="{{ url_for('profile.profile_card', username=contestant.username) }}">{{ contestant.profile.name }}</a></td>
      <td>{{ contestant.profile.course }}</td>
      <td>{{ contestant.profile.roll_number }}</td>
      <td>{{ contestant.profile.college }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock%}
