{% extends 'layout.html' %}
{% block content %}
<div class="text-center my-4 animated bounceInDown">
	{% if profile %}
		{% if current_user.username == profile.account.username %}
			<h2>Your Profile Card</h2>
		{% else %}
			<h2>Profile Card</h2>
		{% endif %}
	{% else %}
		<h2>Create your profile</h2>
	{% endif %}
	<hr>
</div>
<div class="card mx-auto text-center animated flipInY" id="profile">
	<div class="text-center">
		<img class="card-img-top" src="{{ url_for('static', filename='images/profile_cover.png') }}" alt="Card image cap">
		{% if profile %}
			<img class="rounded-circle avatar" src="{{ url_for('static', filename='profile_pics/'+ profile.image) }}" alt="Profile Pic">
		{% else %}
		<img class="rounded-circle avatar" src="{{ url_for('static', filename='profile_pics/default.jpg') }}" alt="default profile pic">
		{% endif %}

	</div>
	<div class="card-body profile-body">
		{% if profile %}	
			<h3 class="card-title">{{ profile.name }}</h3>

			<h6 class="card-subtitle mb-2 text-muted"><a href="{{ url_for('profile.profile_card', username=profile.account.username) }}">PID: {{ profile.account.id }}</a></h6>

			<table class="table mt-3 profile-details">
				<tbody>
					
					<tr>
						<td>Course:</td>
						<td>{{ profile.course }} ({{ profile.branch }})</td>
					</tr>
					{% if current_user.username == profile.account.username %}
						<tr>
							<td>Contact:</td>
							<td>{{ profile.phone}}</td>
						</tr>
					{% endif %}
					<tr>
						<td>Gender:</td>
						<td>
							{% if profile.gender == 'M' %}
								Male
							{% else %}
								Female
							{% endif %}
						</td>
					</tr>
					<tr>
						<td>College:</td>
						<td>{{ profile.college}}</td>
					</tr>
					<tr>
						<td>Roll Number:</td>
						<td>{{ profile.roll_number}}</td>
					</tr>

					{% if current_user.username == profile.account.username %}
					<tr>
						<td colspan="2">
							<div class="btn-group" role="group">
						    <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						      Update Profile
						    </button>
						    <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
						    	<input type="file" accept="image/x-png,image/gif,image/jpeg" id="uploadimage" style="display: none">
								<a href="#" class="dropdown-item uploadimage" id="uploadimagebtn">Update Picture</a>
								<div id="feedback" class="text-success"></div>
						      <a href="{{ url_for('profile.update_profile') }}" class="dropdown-item">Update Info</a>
						    </div>
						  </div>
						</td>
					</tr>
						
					{% endif %}
				</tbody>
			</table>
		{% else %}
				<a href="/create_profile" class="btn btn-outline-danger my-5">Create Profile</a>
		{% endif %}
	</div>
</div>

<div class="modal" id="cropimage" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLongTitle">Crop image</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form action="" method="GET">
					<div class="row">
						<div class="col-md-8 text-center">
							<div id="cropper" style="width:350px; margin-top:30px"></div>
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
			    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary" id="uploadbtn">Upload image</button>
			</div>
		</div>
	</div>
</div>

{% endblock %}