{% extends 'layout.html' %}
{% block content %}
<div class="col-md-4">

	<div class="card" style="width: 18rem;">
	  <img class="card-img-top rounded" src="{{ url_for('static', filename='profile_pics/'+user.image) }}" alt="Card image cap">
	  <div class="card-body">
	    <h5 class="card-title">{{ user.name }}</h5>
	    <h6 class="card-subtitle mb-2 text-muted"><a href="/{{ title }}">@{{ title }}</a></h6>
	    <span class="float-right">
	    	{{ user.gender }}
	    </span>
	    <p class="card-text">{{ user.course }} ({{ user.branch }})</p>
	    <p class="card-text">{{ user.college }}</p>
	  </div>
	</div>
</div>
{% endblock %}