{% extends 'layout.html' %}
{% block content %}
<div class="text-center mt-4 animated bounceInDown">
	<h2>Register</h2>
	<hr>
</div>
<div class="row justify-content-around">
	<div class="col-md-7 m-3 p-3">
		<form class="animated bounceInRight" action="" method="POST">
			{{ form.hidden_tag() }}
			<fieldset class="form-group">
				<div class="form-group">
					{{ form.username.label(class='form-control-label') }}
					{{ form.username(class='form-control form-control-lg') }}
					<div class="invalid-feedback d-block">
						{% if form.username.errors %}
							{% for error in form.username.errors %}
								{{ error }}
							{% endfor %}
						{% endif %}
					</div>
				</div>
				<div class="form-group">
					{{ form.email.label(class='form-control-label') }}
					{{ form.email(class='form-control form-control-lg') }}
					<div class="invalid-feedback d-block">
						{% if form.email.errors %}
							{% for error in form.email.errors %}
								{{ error }}
							{% endfor %}
						{% endif %}
					</div>
				</div>
				<div class="form-group">
					{{ form.password.label(class="form-control-label") }}
					{{ form.password(class="form-control form-control-lg") }}
					{% if form.password.errors %}
						<div class="invalid-feedback d-block">
						{% for error in form.password.errors %}
							{{ error }}
						{% endfor %}
						</div>
					{% endif %}
				</div>
				<div class="form-group">
					{{ form.confirm_password.label(class="form-control-label") }}
					{{ form.confirm_password(class="form-control form-control-lg") }}
					{% if form.confirm_password.errors %}
						<div class="invalid-feedback d-block">
						{% for error in form.confirm_password.errors %}
							{{ error }}
						{% endfor %}
						</div>
					{% endif %}
				</div>
				<div class="form-group">
					<small class="text-muted">
						Make sure before registering, you accpet all<a class="ml-2" href="#">Terms and Conditions</a>
					</small>
				</div>
			</fieldset>
			
			<div class="form-group px-2">
				{{ form.submit(class='btn btn-success btn-block mx-auto') }}
			</div>
		</form>
	</div>
</div>
<div class="border-top pt-3 text-center">
	<small class="text-muted">
		Already had a account? <a class="ml-2" href="{{ url_for('users.login') }}">Login</a>
	</small>
</div>
{% endblock %}