{% extends 'layout.html' %}
{% block content %}
<div class="text-center mt-4 animated bounceInDown">
	<h2>Register</h2>
	<hr>
</div>
<div class="row justify-content-around">
	<div class="col-8 p-4">
		<form action="" method="POST">
			{{ form.hidden_tag() }}
			<fieldset class="form-group">
				<div class="form-group">
					{{ form.username.label(class='form-control-label animated bounceInRight') }}
					{{ form.username(class='form-control form-control-lg animated bounceInRight') }}
					<div class="invalid-feedback d-block">
						{% if form.username.errors %}
							{% for error in form.username.errors %}
								{{ error }}
							{% endfor %}
						{% endif %}
					</div>
				</div>
				<div class="form-group">
					{{ form.email.label(class='form-control-label animated bounceInLeft') }}
					{{ form.email(class='form-control form-control-lg animated bounceInLeft') }}
					<div class="invalid-feedback d-block">
						{% if form.email.errors %}
							{% for error in form.email.errors %}
								{{ error }}
							{% endfor %}
						{% endif %}
					</div>
				</div>
				<div class="form-group">
					{{ form.password.label(class="form-control-label animated bounceInRight") }}
					{{ form.password(class="form-control form-control-lg animated bounceInRight") }}
					{% if form.password.errors %}
						<div class="invalid-feedback d-block">
						{% for error in form.password.errors %}
							{{ error }}
						{% endfor %}
						</div>
					{% endif %}
				</div>
				<div class="form-group">
					{{ form.confirm_password.label(class="form-control-label animated bounceInLeft") }}
					{{ form.confirm_password(class="form-control form-control-lg animated bounceInLeft") }}
					{% if form.confirm_password.errors %}
						<div class="invalid-feedback d-block">
						{% for error in form.confirm_password.errors %}
							{{ error }}
						{% endfor %}
						</div>
					{% endif %}
				</div>
			</fieldset>
			<div class="form-group">
				{{ form.submit(class='btn btn-outline-info animated bounceInRight') }}
			</div>
		</form>
	</div>
</div>
{% endblock %}