{% extends 'layout.html' %}
{% block content %}
<div class="text-center mt-4">
	<h2>Reset password</h2>
	<hr>
</div>
<form method="POST" action="">
	{{ form.hidden_tag() }}
	<div class="form-group">
		{{ form.email.label(class='form-control-label') }}
		{{ form.email(class='form-control') }}
	</div>
	{% if form.email.errors %}
		<div class="invalid-feedback d-block">
			{% for error in form.email.errors %}
				<span>{{ error }}</span>
			{% endfor %}
		</div>
	{% endif %}
	<div class="form-group">
		{{ form.submit(class='btn btn-success') }}
	</div>
</form>

{% endblock %}