{% extends 'layout.html' %}
{% block content %}
<div class="text-center mt-4 animated bounceInDown">
	<h1>{{ event.title }} Event Teams</h1>
	<hr>
</div>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Team name</th>
      <th scope="col">TID</th>
      <th scope="col">Members</th>
    </tr>
  </thead>
  <tbody>
  	{% for team in teams%}
    <tr>
      <th scope="row">1</th>
      <td><a href="{{ url_for() }}">{{ team.name }}</a></td>
      <td><b class="text-info">{{ team.id }}</b></td>
      <td>{{ team.getNumOfMember() }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock%}